<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SSIT_SERVER.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SSIT_SERVER.My.MySettings.Setting" connectionString="Dsn=SSIT;uid=sa;pwd=password2013"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <SSIT_SERVER.My.MySettings>
            <setting name="getURL" serializeAs="String">
                <value />
            </setting>
            <setting name="tagPage" serializeAs="String">
                <value />
            </setting>
            <setting name="webPageTag" serializeAs="String">
                <value />
            </setting>
            <setting name="getPermanentURL" serializeAs="String">
                <value>http://prs:7777/sss-ssitserve/</value>
            </setting>
            <setting name="tagInqury" serializeAs="String">
                <value />
            </setting>
            <setting name="BenefitTag1" serializeAs="String">
                <value />
            </setting>
            <setting name="BenefitTag2" serializeAs="String">
                <value />
            </setting>
            <setting name="getLogsWeb" serializeAs="String">
                <value />
            </setting>
            <setting name="autoGenID" serializeAs="String">
                <value />
            </setting>
            <setting name="lastIDmaternity" serializeAs="String">
                <value />
            </setting>
            <setting name="getAdd" serializeAs="String">
                <value />
            </setting>
            <setting name="pageIncremement" serializeAs="String">
                <value />
            </setting>
            <setting name="sssWebsiteLink" serializeAs="String">
                <value>https://www.sss.gov.ph/sss/login.jsp</value>
            </setting>
            <setting name="kioskID" serializeAs="String">
                <value />
            </setting>
            <setting name="kioskIP" serializeAs="String">
                <value />
            </setting>
            <setting name="kioskName" serializeAs="String">
                <value />
            </setting>
            <setting name="db_Server" serializeAs="String">
                <value />
            </setting>
            <setting name="db_UName" serializeAs="String">
                <value />
            </setting>
            <setting name="db_Pass" serializeAs="String">
                <value />
            </setting>
            <setting name="db_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="db_DSN" serializeAs="String">
                <value />
            </setting>
            <setting name="kioskBranch" serializeAs="String">
                <value />
            </setting>
            <setting name="lastOnline" serializeAs="String">
                <value />
            </setting>
            <setting name="lastOffline" serializeAs="String">
                <value />
            </setting>
            <setting name="firstRun" serializeAs="String">
                <value />
            </setting>
            <setting name="userType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="printTag" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="db_Host" serializeAs="String">
                <value />
            </setting>
            <setting name="db_Port" serializeAs="String">
                <value />
            </setting>
            <setting name="db_ServiceName" serializeAs="String">
                <value />
            </setting>
            <setting name="db_UserID" serializeAs="String">
                <value />
            </setting>
            <setting name="db_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="kiosk_cluster" serializeAs="String">
                <value />
            </setting>
            <setting name="kiosk_group" serializeAs="String">
                <value />
            </setting>
            <setting name="authentication" serializeAs="String">
                <value />
            </setting>
            <setting name="getUmidCardStatus" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="pathLoc" serializeAs="String">
                <value />
            </setting>
            <setting name="salaryLoanTag" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="getErNo" serializeAs="String">
                <value />
            </setting>
            <setting name="getNameEr" serializeAs="String">
                <value />
            </setting>
            <setting name="getEmpStatus" serializeAs="String">
                <value />
            </setting>
            <setting name="kioskAdminUser" serializeAs="String">
                <value>ssitsssgov</value>
            </setting>
            <setting name="kioskAdminPass" serializeAs="String">
                <value>allcardtech@2014!</value>
            </setting>
            <setting name="SSStempFile" serializeAs="String">
                <value />
            </setting>
            <setting name="printerPort" serializeAs="String">
                <value />
            </setting>
            <setting name="errorLoadTag" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dateOfBirth" serializeAs="String">
                <value />
            </setting>
            <setting name="dateOfCov" serializeAs="String">
                <value />
            </setting>
            <setting name="lastTransNo" serializeAs="String">
                <value />
            </setting>
            <setting name="disclosureURL" serializeAs="String">
                <value>http://prs:7777/</value>
            </setting>
            <setting name="errorTag" serializeAs="String">
                <value />
            </setting>
            <setting name="transTag" serializeAs="String">
                <value />
            </setting>
            <setting name="getLumpSum" serializeAs="String">
                <value />
            </setting>
            <setting name="UMID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SAM" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SmartCardReader" serializeAs="String">
                <value>OMNIKEY CardMan 5x21-CL 0</value>
            </setting>
            <setting name="CRN" serializeAs="String">
                <value />
            </setting>
            <setting name="PIN" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="SSSCard_SessionTime" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="UMIDCard_SessionTime" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="webFeedEmail" serializeAs="String">
                <value>ncjaluag@allcardtech.com.ph</value>
            </setting>
            <setting name="CHECK_MEMSTATUS" serializeAs="String">
                <value />
            </setting>
            <setting name="IsCRNJustActivated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastContribution" serializeAs="String">
                <value />
            </setting>
            <setting name="CSN" serializeAs="String">
                <value />
            </setting>
            <setting name="CCDT" serializeAs="String">
                <value />
            </setting>
            <setting name="CardPIN" serializeAs="String">
                <value />
            </setting>
            <setting name="SS_Number" serializeAs="String">
                <value />
            </setting>
            <setting name="CARD_DATA" serializeAs="String">
                <value />
            </setting>
        </SSIT_SERVER.My.MySettings>
    </userSettings>
  <!--<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>-->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
    <requiredRuntime version="v4.0.20506"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="InfoKioskImplPortBinding" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://m01ws103:8888/ikiosk/ikioskWS" binding="basicHttpBinding"
        bindingConfiguration="InfoKioskImplPortBinding" contract="registerMember.InfoKiosk"
        name="InfoKioskImplPort" />
    </client>
  </system.serviceModel>
</configuration>
