<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SSIT_UPDATER.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
    <userSettings>
        <SSIT_UPDATER.My.MySettings>
            <setting name="db_DSN" serializeAs="String">
                <value />
            </setting>
            <setting name="db_Server" serializeAs="String">
                <value />
            </setting>
            <setting name="db_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="db_UName" serializeAs="String">
                <value />
            </setting>
            <setting name="db_Pass" serializeAs="String">
                <value />
            </setting>
            <setting name="kioskBranch" serializeAs="String">
                <value>C06</value>
            </setting>
            <setting name="transTag" serializeAs="String">
                <value>TR</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="video_Path" serializeAs="String">
                <value>Video/SSS.mp4</value>
            </setting>
            <setting name="charter_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="SSIT_Path" serializeAs="String">
                <value>SSIT_SERVER/SSIT_SERVER.exe</value>
            </setting>
            <setting name="setting_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="ftpUserID" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="ftpPassword" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="downloadedPath" serializeAs="String">
                <value>C:\Program Files (x86)\SSIT</value>
            </setting>
            <setting name="ftpIP" serializeAs="String">
                <value>10.0.6.191</value>
            </setting>
            <setting name="terms_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="SSIT_origPath" serializeAs="String">
                <value>C:\Program Files (x86)\SSIT\SSIT_SERVER.exe</value>
            </setting>
            <setting name="sett" serializeAs="String">
                <value />
            </setting>
            <setting name="ftp_Path" serializeAs="String">
                <value>Application/SSIT_SERVER.exe</value>
            </setting>
            <setting name="Settings_lastUpdated" serializeAs="String">
                <value />
            </setting>
            <setting name="Video_lastUpdated" serializeAs="String">
                <value />
            </setting>
            <setting name="Terms_lastUpdated" serializeAs="String">
                <value />
            </setting>
            <setting name="Application_lastUpdated" serializeAs="String">
                <value />
            </setting>
            <setting name="Citizen_lastUpdated" serializeAs="String">
                <value />
            </setting>
            <setting name="folderLastLogs" serializeAs="String">
                <value />
            </setting>
            <setting name="runConfig" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="terminalIP" serializeAs="String">
                <value />
            </setting>
        </SSIT_UPDATER.My.MySettings>
    </userSettings>
</configuration>